.orderHistoryRow {
    display: grid;
    grid-template-columns: repeat(7, minmax(125px, 14%));
}
.cell {
    padding: 10px;
    color: #333333;
    font-size: 13px;
    overflow-wrap: break-word;
}
.cell:not(.lastCell) {
    border-right: 1px solid #d8d8d8;
}
.commentText {
    display: block;
    width: 100%;
    height: 100%;
}
.commentInput {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 5px;
    min-height: 25px;
}