.modalWindow {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.modalHeader {
    padding: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d8d8d8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modalBody {
    min-height: 80%;
}
.formFooter {
    margin-top: 20px;
    padding: 15px;
    border-top: 1px solid #d8d8d8;
    display: flex;
    justify-content: flex-end;
}
.modalTitle {
    margin: 0;
    padding: 0;
    font-size: 22px;
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.modalFiltersEmpty {
    color: tomato;
    font-size: 15px;
    margin-left: 20px;
    line-height: 22px;
    align-self: flex-end;
}
.modalClose {
    font-size: 20px;
    color: #149AC9;
    line-height: 100%;
}
.modalClose:hover {
    cursor: pointer;
}
.filterSubmit {
    background-color: #149AC9;
}
.filterSubmit:hover, .filterSubmit:focus {
    background-color: #286090;
    border-color: #204d74;
}
.modalInputBlock {
    padding: 10px 10px;
    display: flex;
    align-items: center;
}
.modalInputLabel {
    flex-basis: 20%;
    font-size: 14px;
    max-width: 100px;
}
.filterFormInput {
    font-size: 14px;
    border: 1px solid #d8d8d8;
    padding: 10px;
    border-radius: none;
}
.filterInputNumber {
    max-width: 100px;
}
.filterFormInput:focus {
    outline: none;
    border: 1px solid #149AC9;
}
.filterInputsList {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.filterInputDelimeter {
    font-size: 14px;
    margin: 0 8px;
}